.fourth-stepper {
  text-align: center;
  .sent-email{
    padding-top: 15px;
    padding-bottom: 6px;
    width: 76%;
    margin: 0 auto;
    @media only screen and (max-width: 425px){
      width: 100%;
    }
  }
  .not-received{
    padding-bottom: 12px;
  }
}
