@import "../../../sass/variables";

.apply-work-schedule-main-wrapper {
  width: 100%;

  .btn-filter {
    width: 83px;
    height: 40px;
    border: 1px solid #c1c1c7;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: none !important;

    &:hover {
      border: 1px solid #000;
      color: #000 !important;
    }
  }


}

// calendar
.apply-work-wrapper {
  .absent-grid {
    .absent-grid-item {
      .absent-line {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        width: 4px;
        height: 100%;
      }

      padding: 10px 12px;
      border-radius: 10px;
    }


    .absent-grid-content {
      padding-left: 10px;

      .absent-grid-circle {
        position: absolute;
        right: 15px;
        top: 11px;
        gap: 5px;

        span {
          width: 8px;
          height: 8px;
          border-radius: 50px;
          border: 1px solid #FFFFFF;
        }
      }

      .working-grid {
        h3 {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }

  }

  .fc-timeline-slot.fc-timeline-slot-label {
    .fc-timeline-slot-frame {
      height: 106px !important;
    }
  }

  .fc-datagrid-cell-frame,
  .fc-timeline-lane.fc-resource {
    height: 106px !important;
  }

  .fc-view-harness.fc-view-harness-active {
    background: var(----white-dark-bg);
    box-shadow: 0px 0px 6px rgba(16, 24, 40, 0.1);
    border-radius: 8px;
    height: 100vh !important;
  }

  .fc-scrollgrid.fc-scrollgrid-liquid {
    border-radius: 8px;
  }

  // .fc-theme-standard .fc-scrollgrid {
  //   border: none;
  // }

  // .fc-theme-standard td,
  // .fc-theme-standard th {
  //   border: 1px solid #DBE4EF !important;
  // }

  .fc .fc-resource-timeline-divider {
    width: 1px !important;
  }

  .fc-h-event {
    background: none !important;
    border: none !important;
  }


  .slot-event-wrapper {
    h2 {
      font-size: 30px;
      line-height: 45px;
    }

    p {
      color: var(--grey-color);
      text-align: left;
    }
  }

  .fc-timeline-slot.fc-timeline-slot-label {
    width: 200px !important;
  }

  .fc-timeline-slot.fc-timeline-slot-lane.fc-timeline-slot-major {
    width: 200px !important;
  }

  // .fc-scrollgrid-sync-table {
  //   width: 100% !important;
  //   min-width: 1540px !important;
  // }


  .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    .fc-toolbar-chunk {
      &:nth-child(3) {
        display: none !important;
      }
    }
  }

  .fc-timeline-slot.fc-timeline-slot-label.fc-day.fc-day-mon.fc-day-past {
    width: 200px;
  }

  .fc-timeline-slot-frame {
    // width: 200px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }

  .fc-resource-timeline-divider.fc-cell-shaded {
    cursor: none !important;
  }

  .fc .fc-toolbar {
    //copy this
    display: flex !important;
    justify-content: flex-start !important;
    gap: 20px;
    margin-top: -61px;
  }

  .fc-toolbar-chunk {
    border: 1px solid #E6E6E6 !important;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    height: 40px;

    .fc-next-button.fc-button.fc-button-primary,
    .fc-prev-button.fc-button.fc-button-primary {
      background: none !important;
      color: #A0ACBB;
      border: none;
      margin: 0;

      &:focus {
        box-shadow: none !important;
      }
    }

    .fc-toolbar-title {
      font-size: 14px;
      color: #A0ACBB;
      font-weight: 400;
      margin: 0;
    }

    .fc-icon.fc-icon-chevron-right,
    .fc-icon.fc-icon-chevron-left {
      font-size: 16px;
    }

    .fc-today-button.fc-button.fc-button-primary {
      background: none;
      border: none;
      color: var(--grey-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  .fc .fc-daygrid-day.fc-day-today {
    background: none;
  }

  // .fc-datagrid-cell-main {


  // }

  .fc-datagrid-cell-main {
    display: flex;
    height: 100%;
    margin-top: 25px;

    .resource-render-wrapper {
      gap: 10px;
    }

    .resource-render-content {
      gap: 10px;
    }

    .resource-render-checked {
      opacity: 0;
    }
  }

  .resource-render-wrapper:hover .resource-render-checked {
    opacity: 1;
  }

  .resource-user {
    padding-left: 25px;

    h2 {
      line-height: 11px;
      text-align: left;
      font-size: 12px;
      font-weight: 500;
      padding-left: 3rem;
    }

    p {
      color: var(--dark-grey-color);
    }
  }

  .working-grid {
    padding-top: 8px;
  }
}

@media screen and (max-width: 768px) {
  .apply-work-wrapper {
    .slot-event-wrapper {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .absent-grid-content {
      h2 {
        font-size: 12px;
      }

      p {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {

  //copy this
  .apply-work-wrapper {
    .fc .fc-toolbar {
      margin-top: 0px !important;
    }

    .fc-toolbar {
      display: flex !important;
      justify-content: flex-start !important;
      flex-direction: column !important;
      align-items: flex-start !important;
    }

  }
}