@import "./variables";
@import "./theme_variables.scss";

.btn-primary,
.btn-deactive,
.btn-cancel,
.btn-danger,
.btn-simple,
.btn-secondary {
  border: none;
  color: $white-color;
  padding: 6px 16px;
  line-height: $line-height-20;
  font-size: $fs-16;
  font-weight: $fw-500;
  border-radius: $border-radius-6;
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $white-color !important;
  }
}

.btn-primary {
  background-color: $primary-color;
}

.white-img-theme-class {
  filter: var(--white-img-theme-class);
}

.bg-extra-dull {
  background-color: $border-color;
}

.user-label-color {
  color: $label-color;
}

.btn-secondary {
  background-color: $secondary-color;
}

.bg-progress-color {
  background-color: $progress-color;
}

.bg-extra-dull {
  background-color: $border-color;
}

.btn-deactive {
  background-color: $progress-color;

  &:hover {
    background-color: #ff5f68;
  }
}

.btn-danger {
  background-color: #ff5f68;
}

.btn-cancel {
  color: $grey-color !important;
  background-color: $white-color !important;
  border: 1px solid var(--pagination-border-color);
  // border: 1px solid var(--pagination-border-color) !important;
  // border-color:var(--pagination-border-color) !important;

  &:hover {
    border-color: var(--0E-light-black-color) !important;
    color: $grey-color !important;
  }
}

.btn-simple {
  color: var(--grey-color) !important;
  background-color: var(--btn-theme-color);

  &:hover {
    color: #3b4d60 !important;
    background-color: #e5ecf3 !important;

    img {
      filter: brightness(0) invert(0) !important;
    }
  }
}

//  Breadcrum global style
.BreadCrum_main {
  margin-bottom: 25px;

  span {

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      font-size: $fs-16;
      line-height: $line-height-20;
      color: $grey-color;
    }

    &:nth-child(1) {
      font-weight: $fw-500;
      font-size: $fs-24;
      line-height: $line-height-28;
      padding-right: 5px;
      border-right: 1px solid $grey-color;
    }

    &:nth-child(2) {
      color: $grey-color;
      padding-left: 10px;
      cursor: pointer;
    }

    &:nth-child(4) {
      cursor: pointer;
    }
  }
}

// border radius classes
.border-radius-4 {
  border-radius: $border-radius-4;
}

.border-radius-6 {
  border-radius: $border-radius-6;
}

.border-radius-8 {
  border-radius: $border-radius-8;
}

.border-radius-10 {
  border-radius: $border-radius-10;
}

.cursor-pointer {
  cursor: pointer;
}

// Color classes
.text-white {
  color: $white-color;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.grey-color {
  color: $grey-color;
}

.grey-color {
  color: var(--grey-color) !important;
}


.light-dark-grey-color {
  color: var(--light-dark-grey-color);
}

.some-dark-btn-bg {
  background: var(--some-dark-btn-bg);
}

.dark-grey-color {
  color: var(--dark-grey-color);
}

.error-color {
  color: $error-color !important;
}

.extra-dull {
  color: $border-color;
}

.placeholder-color {
  color: $placeholder-color;
}

.btn-theme-color {
  background: var(--common-btn-bg) !important;
  // color: #ffff !important;
  color: var(--common-btn-text-color) !important;
  transition: all 0.2s ease;

  img {
    filter: var(--white-img-theme-class);
  }

  p {
    color: var(--common-btn-text-color) !important;
  }

  &:hover {
    background: var(--common-btn-hover-bg) !important;
    color: var(--common-btn-text-color) !important;
  }
}




.light-black-color {
  color: var(--light-black-color);
}

.border-color {
  color: var(--border-color);
}

.title-color {
  color: var(--title-color);
}

.orange-color {
  color: $orange-color;
}

.Orange-color {
  color: $Orange-color;
}

.user-label-color {
  color: $label-color;
}

.bg-Orange-color {
  background-color: $Orange-color;
}

.darkOrange-color {
  color: $Orange-color;
}

.tooltip-bg-color {
  background: var(--tooltip-bg-color);
}

.successLight-color {
  color: $successLight-color !important;
}

.successDark-color {
  color: $successDark-color;
}

.innerProgress-color {
  color: $innerProgress-color;
}

.bg-extra-dull {
  background-color: $border-color;
}

.lightest-dark-grey-color {
  color: var(--lightest-dark-grey-color);
}

.user-label-color {
  color: $label-color;
}

.progress-color {
  color: $progress-color;
}

.progressLight {
  color: $progressLight;
}

.heading-color {
  color: var(--0E-light-black-color);
}

.border-color {
  color: var(--border-color);
}

.breadcrumb-color {
  color: $breadcrumb-color;
}

.warning-color {
  color: $warning-color;
}

.line-color {
  color: $line-color;
}

.varient4-color {
  color: $varient4-color;
}

.default-color {
  color: $progress-color;
}

.blue-color {
  color: $blue-color;
}

.lightBlue-color {
  color: $lightBlue-color;
}

.icons-div-color {
  background: var(--icons-div-color);
}

.button-stat-bg {
  background: var(--button-stat-color);
}

.bgLightBlue-color {
  background-color: $lightBlue-color !important;
}

.white-dark-bg {
  background-color: var(--white-dark-bg);
}

.only-white-and-primary-color {
  background: var(--only-white-and-primary-color);
}

.header-bg {
  background-color: var(--header-bg);
}

.darkBlue-color {
  color: $darkBlue-color;
}

.darkBluee-color {
  color: var(--darkBluee-color);
}

.purple-color {
  color: $purple-color;
}

.idleTime-color {
  color: $idleTime-color;
}

.bgLow-yellow-color {
  background-color: $low-yellow-color;
}

.bgLightGreenProgress-color {
  background-color: $light-green-progress-color !important;
}

.lightGreenProgress-color {
  color: $light-green-progress-color !important;
}

.lightYellow-color {
  color: $light-yellow-color !important;
}

.bgLightYellow-color {
  color: $light-yellow-color !important;
}

.darkOrange-color {
  color: $darkOrange-color !important;
}

.darkGreen-color {
  color: $darkGreen-color !important;
}

.light-grey {
  color: $light-grey;
}

.dark-pink-color {
  color: var(--dark-pink-color);
}

.light-pink-color {
  color: var(--light-pink-color);
}

.black-color {
  color: var(--black-color);
}

.light-grey-color-2 {
  color: var(--light-grey-color-2);
}

.bgBlue-color {
  background-color: $blue-color !important;
}

.bgDarkGreen-color {
  background-color: $darkGreen-color !important;
}

.bgError-color {
  background-color: $error-color !important;
}

.bgOrange-color {
  background-color: $orange-color !important;
}

.bgDarkOrange-color {
  background-color: $darkOrange-color !important;
}

.bgWhite-color {
  background-color: $white-color;
}

.grey-p-color {
  color: var(--grey-p-color);
}

.label-color {
  color: var(--label-color) !important;
}

.bgLight-color {
  background: var(--main-bg-color);
}

.checkbox-border-color {
  border-color: var(--checkbox-border);
}

.card-bg-color {
  background-color: var(--card-bg-color) !important;
  // border: 2px solid rgba(255, 255, 255, 0.4);
  // box-shadow: var(--card-box-shadow) !important;
}

.card-bg-color-3 {
  background-color: var(--card-bg-color-3) !important;
}

.card-bg-color-3-box-shadow {
  box-shadow: var(--card-bg-color-3-box-shadow) !important;
}

.card-bg-3-border-color {
  border: 1px solid var(--card-bg-3-border-color) !important;
}

.without-gradient-bg-2 {
  background: var(--without-gradient-bg-2) !important;
}

.report-title-color {
  color: var(--report-title-color) !important;
}

.card-bg-3-border-radius {
  border-radius: var(--theme-card-bg-3-border-radius) !important;
}

.themeTitle-color {
  color: var(--title-color) !important;
}

.card-gradient-bg {
  background: var(--card-gradient-bg);
}

.graident-card-box-shadow {
  box-shadow: var(--graident-card-box-shadow);
}

.card-gradient-color {
  color: var(--gradient-card-p-color);
}

.account-modal-title-color {
  color: var(--account-modal-title-color);
}

.light-grey-p-color {
  color: var(--light-grey-p-color);
}

.bgDark-color {
  background-color: $bgDark-color;
}

.bgSecondary-color {
  background: $secondary-color;
}

// .black-color {
//   color: $black-color;
// }

.bgWhite-color {
  background-color: $white-color;
}

.button-light-bg-color {
  background-color: $button-light-bg-color;
}

.delete-btn-bg-color {
  background-color: $delete-btn-bg-color;
}

.darkPurple-color {
  color: #49416c;
}

.accordian-bg-color {
  background-color: var(--accordian-bg-color) !important;
}

.table-dark-theme {
  background-color: var(--card-bg-color);
  // box-shadow: var(--theme-table-box-shadow) !important;
  box-shadow: var(--table-box-shadow) !important;
}

.without-gradient-bg {
  background: var(--without-gradient-bg);
}

.card-shadow-theme {
  // background-color: var(--card-bg-color) !important;
  box-shadow: var(--card-box-shadow) !important;
}

// ################################### Gradients Colors ###################################
.lightGreenGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $light-green-progress-color 50%,
      $light-green-progress-color );
  // box-shadow: var(--table-box-shadow) !important;
}

.errorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $error-color 50%,
      $error-color );
}

.lightYellowGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $light-yellow-color 50%,
      $light-yellow-color );
}

.darkGreenGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $darkGreen-color 50%,
      $darkGreen-color );
}

.blueGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $blue-color 50%,
      $blue-color );
}

.darkOrangeGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $darkOrange-color 50%,
      $darkOrange-color );
}

.OrangeGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $Orange-color 50%,
      $Orange-color );
}

.lightYellowGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $light-yellow-color 50%,
      $light-yellow-color );
}

.darkPurpleGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $purple-color 50%,
      $purple-color );
}

.secondaryGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $secondary-color 50%,
      $secondary-color );
}

.progressGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $progress-color 50%,
      $progress-color );
}

.darkRedGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $darkRed-color 50%,
      $darkRed-color );
}

.successLightGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $successLight-color 50%,
      $successLight-color );
}

.warningColorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $warning-color 50%,
      $warning-color );
}

.secondaryColorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $secondary-color 50%,
      $secondary-color );
}

.titleColorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $title-color 50%,
      $title-color );
}

.progressColorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $progress-color 50%,
      $progress-color );
}

.lightOrangeColorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $lightOrange-color 50%,
      $lightOrange-color );
}

.lightDarkBlueColorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $lightDarkBlue-color 50%,
      $lightDarkBlue-color );
}

.orangeColorGradient-color {
  background: linear-gradient(var(--card-bg-color),
      var(--card-bg-color) 50%,
      $orange-color 50%,
      $orange-color );
}

// font classes start here
.fs-10 {
  font-size: $fs-10;
}

.fs-12 {
  font-size: $fs-12;
}

.fs-14 {
  font-size: $fs-14;
}

.fs-16 {
  font-size: $fs-16;
}

.fs-18 {
  font-size: $fs-18;
}

.fs-20 {
  font-size: $fs-20;
}

.fs-22 {
  font-size: $fs-22;
}

.fs-24 {
  font-size: $fs-24;
}

.fs-26 {
  font-size: $fs-26;
}

.fs-28 {
  font-size: $fs-28;
}

.fs-32 {
  font-size: $fs-32;
}

.fs-40 {
  font-size: $fs-40;
}

//box shadow classes
.box-shadow {
  box-shadow: $box-shadow;
}

// font weight classes
.fw-300 {
  font-weight: $fw-300;
}

.fw-400 {
  font-weight: $fw-400;
}

.fw-500 {
  font-weight: $fw-500;
}

.fw-600 {
  font-weight: $fw-600;
}

.fw-700 {
  font-weight: $fw-700;
}

// line height end here
.line-height-16 {
  line-height: $line-height-16;
}

.line-height-18 {
  line-height: $line-height-18;
}

.line-height-20 {
  line-height: $line-height-20;
}

.line-height-22 {
  line-height: $line-height-22;
}

.line-height-24 {
  line-height: $line-height-24;
}

.line-height-30 {
  line-height: $line-height-30;
}

.line-height-40 {
  line-height: $line-height-40;
}

// width and margin
.m-0 {
  margin: 0px;
}

.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-no-wrap {
  white-space: nowrap;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.text-end {
  text-align: end;
}

.d-block {
  display: block;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap !important;
}

.border-radius-50 {
  border-radius: 50%;
}

.c-box-shadow {
  background: var(--card-bg-color);
  box-shadow: $card-box-shadow;
  border-radius: $border-radius-8;
}

.only-card-box-shadow {
  box-shadow: $card-box-shadow;
}

.common-layout-margin {
  margin-bottom: 25px;
}

// ######################## Scrollbar ########################
.no-scrollbar {
  // hide scrollbar for firefox
  scrollbar-width: none !important;

  // for chrome
  &::-webkit-scrollbar {
    display: none !important;
  }
}

// ##################### Custom Scrollbar On Hover  #####################
.custom-scroll-hor {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
    border-radius: 10px;
  }

  transition: all 1s ease !important;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #dadada;
      border-radius: 10px;
    }
  }
}

.ant-table-wrapper {
  .ant-table-tbody>tr.ant-table-row-selected>td:first-child {
    border-left: 4px solid $secondary-color;
  }

  .ant-table-body {
    scroll-behavior: smooth !important;
    scrollbar-color: $secondary-color !important;

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 50px;
    }
  }
}

.height-50 {
  height: 50px;
}

.secondary-btn {
  background-color: #e76f51;
}

.bg-unset {
  background-color: unset;
}

// ########################## Esterick Icons to right for whole app ##########################
.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  color: $error-color;
  font-size: $fs-14;
  content: "*";
  margin-left: 0.3rem;
}

// this to take esterick to right end
.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
  display: inline-flex;
  flex-direction: row-reverse;
  color: var(--grey-color);
}

.capitalize {
  text-transform: capitalize;
}

// .relative {
//   position: relative;
// }

// .absolute {
//   position: absolute;
// }

.asterisk::after {
  content: "*";
  position: absolute;
  color: red;
  margin-left: 8px;
  font-size: 14px;
}

// ########################### Table Styles ###########################
.wrapper-table {
  .ant-table {
    background-color: var(--card-bg-color) !important;
  }

  .ant-table-thead {

    tr,
    th {
      background-color: var(--card-bg-color) !important;
      color: var(--title-color) !important;
      font-weight: 600;
      border-color: none !important;
      border-bottom: none !important;
    }

    .ant-table-cell {
      background-color: var(--card-bg-color) !important;
      color: var(--title-color) !important;
      padding: 20px !important;

      &::before {
        background-color: var(--inverted-theme-bg) !important;
      }
    }
  }

  .ant-table-content {
    box-shadow: var(--table-box-shadow) !important;
    border-radius: 8px;

    tr:nth-child(even) {
      background: var(--without-gradient-bg) !important;
      color: var(--title-color);
    }

    tr {
      font-size: 14px;
      color: var(--title-color);
      background: var(--card-bg-color);

      &.ant-table-row-selected {
        td {
          border-bottom: 3px solid #fff !important;
          background: rgba(231, 111, 81, 0.14) !important;
        }
      }

      // ant-table-cell-row-hover
      td {
        border-color: none !important;
        border-bottom: none !important;

        &.ant-table-cell-row-hover {
          background: unset;
        }

        &:first-child {
          border-left: 4px solid transparent;
        }
      }

      &:hover td {
        // background: var(--without-gradient-bg) !important;
        background: rgba(231, 111, 81, 0.14) !important;
        color: var(--title-color);
        border-radius: 0px !important;

        &:first-child {
          border-left: 4px solid #dd3e1e;
        }
      }
    }
  }

  .ant-pagination {
    margin: 1.625rem 0 0 0 !important;

    .ant-pagination-disabled {
      background: #919eab !important;

      .ant-pagination-item-link {
        border-color: var(--pagination-border-color);

        svg {
          fill: var(--white-color);
        }
      }
    }

    .ant-pagination-item-link {
      border-color: var(--pagination-border-color);

      svg {
        fill: var(--dark-grey-color);
      }
    }

    .ant-pagination-item:not(.ant-pagination-item-active) {
      background-color: var(--card-bg-color) !important;
      border-color: var(--pagination-border-color);

      a {
        color: var(--label-color);
      }
    }

    .ant-pagination-item.ant-pagination-item-active {
      background-color: var(--without-gradient-bg) !important;
    }
  }
}

// ########################### Tabs ###########################
.wrapper-tabs {
  .ant-tabs-tab {
    margin: 0 !important;
    padding: 0 !important;

    .ant-tabs-tab-btn {
      color: var(--grey-color);
      font-size: $fs-14 !important;
      font-weight: $fw-400 !important;
    }
  }

  // Tab underground bar and padding
  .ant-tabs-nav-list {
    gap: 1.875rem;
    padding: 0 0 0.85rem 0;
    margin: 0;
  }

  .ant-tabs-ink-bar {
    height: 3px !important;
    border-radius: 45px;
  }
}

// ########################### Modal ###########################
.modal-theme {
  .ant-modal-header {
    background: unset;
  }

  .ant-modal-title {
    color: var(--0E-light-black-color);
  }

  .ant-modal-content {
    background: var(--without-gradient-bg-2) !important;
    border-radius: $border-radius-8 !important;

    .action-modal {
      .ant-btn-default.btn-cancel {
        background-color: var(--main-bg-color) !important;
        color: var(--title-color) !important;
      }
    }
  }

  .ant-checkbox-wrapper {
    color: var(--title-color);
  }

  .ant-input-affix-wrapper,
  input,
  .ant-input {
    color: var(--title-color) !important;
    background-color: var(--without-gradient-bg-2) !important;
    border-color: rgba(160, 172, 187, 0.4) !important;

    &::placeholder {
      color: #a0acbb;
    }
  }

  .anticon svg {
    color: var(--title-color);
  }

  .ant-form-item .ant-form-item-label>label {
    color: var(--label-color);
  }

  .ant-input-number-lg {
    background-color: var(--main-bg-color);
  }

  .ant-input-number-lg input.ant-input-number-input {
    color: var(--title-color);

    &::placeholder {
      color: #a0acbb;
    }
  }
}

.custom-notification-class {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-top: 0;
  min-width: 298px;
  padding: 0.625rem;
  border-radius: 4px;

  a {
    top: 13px !important;
  }

  div {
    color: #29620d !important;

    span {
      top: 15px !important;
    }
  }

  .ant-notification-notice-message {
    margin-bottom: 0px !important;
  }

  // .ant-notification-notice-icon {
  //   filter: brightness(0.5);
  // }

  // .ant-notification-notice-close {
  //   filter: brightness(0.5);
  //   font-weight: 800;
  // }

  &.error-snackbar {
    div {
      color: $white-color !important;
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

.select-theme {
  // background-color: var(--select-bg-color) !important;
  background-color: var(--card-bg-color) !important;
  color: var(--title-color) !important;

  p {
    color: var(--title-color);

    &:hover {
      color: black;
    }
  }

  .ant-select-item-option {
    color: var(--label-color) !important;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: var(--card-bg-color) !important;
  }

  input {
    background-color: var(--select-bg-color) !important;
    color: var(--title-color) !important;
    border: 1px solid rgba(160, 172, 187, 0.4) !important;
  }
}

.ant-select-selector {
  color: var(--label-color) !important;
  background-color: var(--white-dark-bg) !important;
  border: 1px solid rgba(160, 172, 187, 0.4) !important;
}

.select-input-theme {
  .ant-select-single.ant-select-open .ant-select-selection-item {
    color: var(--label-color) !important;
  }

  .ant-input-affix-wrapper {
    color: var(--label-color) !important;
    background-color: var(--white-dark-bg) !important;
  }


  .ant-select-selection-placeholder {
    color: var(--theme-light-grey) !important;
  }

  .ant-select-arrow {
    color: var(--grey-color);
  }


}

.ant-radio-wrapper {
  color: var(--label-color) !important;
}

.ant-popover .ant-popover-inner {
  background-color: var(--card-bg-color);

  span {
    color: var(--label-color);
  }
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  background-color: var(--card-bg-color);

  &.ant-dropdown-menu-item-active,
  .ant-dropdown-menu-item {
    &:hover {
      background-color: var(--card-bg-color);
    }
  }


  span {
    color: var(--label-color);
  }

  .ant-pagination {
    color: var(--label-color);
  }
}

//   .anticon svg {
//     color:  var(--label-color);
// }

.checkboxes-wrapper {
  margin-block: 25px;

  .ant-checkbox-group {
    flex-wrap: wrap;
    gap: 15px;

    .ant-checkbox-wrapper {
      flex-basis: 28%;
      margin: 0;

      @media only screen and (max-width: 500px) {
        flex-basis: 47%;
      }
    }
  }
}

.add-more-btn {
  display: flex;
  align-items: center;
  padding: 2px 6px 2px 8px;
  // background: #f5f5f5 !important;
  background: var(--without-gradient-bg-2);
  border-radius: 16px !important;
  border: none;
  color: #4e6073;
}

.showTableColumn {
  background-color: var(--white-dark-bg);
  color: var(--label-color);

  &::placeholder {
    color: var(--label-color);
  }
}

.themeMoreUser {
  background-color: var(--theme-More-User-bg) !important;
  color: var(--title-color) !important;

  .time_zone_hover {
    &:hover {
      background-color: #e1eefd;
      border-radius: 4px;
    }
  }
}

.custom-radio-btn {
  .ant-radio-checked .ant-radio-inner {
    border-color: #e76f51;
    background-color: #fff;

    &::after {
      background-color: #e76f51;
      height: 22px;
      width: 22px;
      top: 4px;
      left: 4px;
    }
  }
}

.list-bg-color {
  background: var(--list-bg-color) !important;
}

// ######################### Input and Search #########################// ####### For Search tag, use span and provide the given class to it #######
.custom-search-field {
  .ant-input-affix-wrapper {
    .ant-input-prefix {
      font-size: 24px;
      color: #98a2b3 !important;

      span {
        color: #98a2b3;
      }
    }

    height: 40px;
    background-color: var(--card-bg-color);

    .ant-input {
      background-color: var(--card-bg-color);
      color: var(--title-color);

      &::placeholder {
        color: #98a2b3;
      }
    }
  }
}

// ######### Custom Input #########
.custom-input-field {
  background-color: var(--card-bg-color);

  .ant-input {
    background-color: var(--card-bg-color);
    color: var(--title-color);

    &::placeholder {
      color: #98a2b3;
    }
  }
}


// ######### Custom Input #########
.custom-input-modal-field2 {
  background-color: var(--card-bg-color);
  border-color: rgba(160, 172, 187, 0.4) !important;
  color: var(--title-color);

  .ant-input {
    background-color: var(--card-bg-color);
    color: var(--title-color);

    &::placeholder {
      color: #98A2B3;
    }
  }
}



// ######### Custom Input Type Number #########
.custom-input-number {
  background-color: var(--card-bg-color);

  // for input right side icons
  .ant-input-number-handler-wrap {
    span {
      .ant-input-number-handler {
        filter: var(--theme-white-img-theme-class) !important;
        color: red !important;
      }
    }
  }

  // for internal input
  .ant-input-number-input-wrap {
    input {
      color: var(--title-color);

      &::placeholder {
        color: #98A2B3;
      }
    }
  }
}


// ######### APP Dark Tooltip #########
.theme-dark-tooltip {
  .ant-tooltip-arrow:before {
    background: var(--common-dark-tooltip);
  }

  .ant-tooltip-inner {
    background: var(--common-dark-tooltip);
    color: #FCFCFD;
    // text-align: justify;
  }
}

// ######### Ant Date Picker #########
.custom-date-picker {
  background-color: var(--without-gradient-bg2);
  border-color: rgba(160, 172, 187, 0.4) !important;
  color: var(--title-color);

  input {
    color: var(--title-color) !important;

    &::placeholder {
      color: #98a2b3 !important;
    }
  }

  .ant-picker-suffix {
    filter: var(--white-img-theme-class)
  }


  &:not(.ant-picker-disabled).ant-picker-status-error,
  &:not(.ant-picker-disabled).ant-picker-status-error:not([disabled]):hover {
    background: var(--without-gradient-bg2) !important;
  }


}

// ######### Date Picket Popup Wrapper Class #########
.custom-date-picker-popup {
  background: var(--card-bg-color);

  .ant-picker-panel-container {
    background: var(--card-bg-color);
    color: var(--title-color) !important;

    .ant-picker-time-panel .ant-picker-content .ant-picker-time-panel-column .ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
      color: var(--title-color) !important;
    }

    .ant-picker-time-panel-cell.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
      background: var(--without-gradient-bg) !important;
    }

    .ant-picker-footer {
      .ant-btn {
        color: var(--title-color) !important;
      }
    }


  }
}

// ######### Date Picket 2 Popup Wrapper Class #########

.custom-date-picker-2-popup {
  background: var(--card-bg-color);

  .ant-picker-panel-container {
    background: var(--card-bg-color);
    color: var(--title-color);

    .ant-picker-header-super-prev-btn,
    .ant-picker-header-prev-btn,
    .ant-picker-header-next-btn,
    .ant-picker-header-super-next-btn {
      span {
        filter: var(--white-img-theme-class);
      }
    }

    .ant-picker-body .ant-picker-content {

      thead tr th,
      tbody tr td {
        color: var(--title-color);

        &:not(.ant-picker-cell-in-view) {
          color: var(--label-color);
        }
      }
    }

  }


  .ant-picker-header {
    color: var(--title-color);
  }
}

// ######### theme checkbox #########
.theme-checkbox {
  .ant-switch-inner {
    border: 1px solid var(--checkbox--border) !important;
  }
}

.ant-collapse-borderless {
  background-color: transparent;
  border: 0;
}
.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled){
  background-color: transparent !important;
}
// remove box shadow when input is autofilled by browser
// input:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0 1000px var(--without-gradient-bg-2) inset !important;
// }