@import "./variables";

:root {
  --themeHeader-bg: #002433;
  --white-color: #ffff;
  --themeTitle-color: #264653;
  --gradient-bg: linear-gradient(180deg, #002433 0%, #033246 100%);
  --theme-card-gradient-bg: linear-gradient(180deg, #002433 0%, #124d66 100%);
  // --themeBgLight-color: #FFF4F1;
  --themeBgLight-color: #fffaf9;
  --light-grey-color: #c1c1c1;
  --grey-color: #3b4d60;
  --theme-grey-color: #3b4d60;
  --themeDark-grey-color: #4e6073;
  --themelight-grey-color: #7a8897;
  --theme-table-cell-bg: #fef9f8;
  --theme-dark-color: #002433;
  --theme-line-color: #dbe4ef;
  --theme-table--dark-box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
  --theme-table-box-shadow: 0px 0px 2px rgb(16 24 40 / 25%);
  --theme-card-shadow: rgb(0 0 0 / 4%) 0px 54px 55px, rgb(0 0 0 / 4%) 0px -12px 30px, rgb(0 0 0 / 0%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 0%) 0px -3px 5px;
  --theme-card-bg-2: #f9fafb;
  --theme-light-gray-p-color: #667085;
  --theme-checkbox: #dadada;
  --theme-dark-gradient-card: #838da1;
  --theme-gradient-card-hover: rgba(245, 236, 234, 0.5);
  --theme-gradient-card-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  --theme-icons-div-color: #d4d4d4;
  --theme-button-stats-color: #eaeaea;
  --theme-pagination-border-color: #dfe3e8;
  --theme-list-bg-color: #f5f5f5;
  --theme-accordian-bg-color: #f8f8f8;
  --card-shadow: 0px 0px 6px rgb(16 24 40 / 10%);
  --theme-without-gradient-bg: #033246;
  --theme-custom-select: rgba(244, 162, 97, 0.2);
  --theme-dark-custom-select: rgb(224, 224, 224);
  --theme-0E-light-black-color: #0e0e0e;
  --theme-bg-color-3: #f8f7f7;
  --theme-card-bg-color-3-box-shadow: -8px 8px 12px rgba(218, 222, 232, 0.4);
  --theme-card-bg-3-border-color: #e6e6e6;
  --theme-card-bg-3-border-radius: none;
  --theme-dark-pink-color: #2b2947;
  --theme-light-pink-color: #57566a;
  --theme-black-color: #000000;
  --theme-light-grey: #a0acbb;
  --report-title-color: #14142b;
  --theme-error-color: #ff4d4f;
  --light-theme-More-User-bg: #e5e5e5;
  --btn-light-theme-color: #f4f9ff;
  --btn-dark-theme-color: #264653;
  --theme-darkBlue-color: #1b2559;
  --theme-white-img-theme-class: brightness(0) invert(1);
  --theme-account-modal-title-color: #323338;
  --theme-light-black-color: #1f1f1f;
  --theme-darkBluee-color: #1b2559;
  --theme-header-bg-color: #ffece8;
  --theme-dark-orange-color: #e76f51;
  --theme-tooltip-bg-color: #f5f5f5;
  --theme-dark-grey-color: #373737;
  --theme-report-bg-color: #ffece8;
  --theme-common-btn-hover-bg: #d2e0f1;
  --theme-common-btn-bg: #f4f9ff;
  --theme-timeline-bg-color: #e5eaf1;
  --theme-some-dark-btn-bg: #264653b3;
  --theme-checkbox--border: #ffffff21;
  --theme-invitation-status-table: #4f5b62;
}

:root[data-theme="light"] {
  --main-bg-color: var(--themeBgLight-color);
  --header-bg: var(--themeBgLight-color);
  --title-color: var(--themeTitle-color);
  --grey-color: var(--theme-grey-color);
  --border-color: #a0acbb;
  --list-bg-color: var(--theme-list-bg-color);
  --card-bg-color: rgb(255, 255, 255);
  --card-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
  --dark-grey-color: var(--themeDark-grey-color);
  --white-dark-bg: var(--white-color);
  --grey-p-color: var(--theme-grey-color);
  --inverted-theme-bg: var(--title-color);
  --table-row-bg: var(--theme-table-cell-bg);
  --only-white-and-primary-color: var(--white-color);
  --line-color: var(--theme-line-color);
  --table-box-shadow: 0px 0px 2px rgba(16, 24, 40, 0.25);
  --card-box-shadow: var(--card-shadow);
  --card-bg-color-2: var(--theme-card-bg-2);
  --light-grey-p-color: var(--theme-light-gray-p-color);
  --label-color: var(--theme-grey-color);
  --checkbox-border: var(--theme-checkbox);
  --card-gradient-bg: var(--theme-card-bg-2);
  --gradient-card-p-color: var(--theme-light-gray-p-color);
  --gradient-card-hover: var(--theme-gradient-card-hover);
  --graident-card-box-shadow: var(--white-color);
  --theme-ss-unselect-card-color: #fffaf9;
  --theme-ss-selected-card-color: #fe5c361a;
  --icons-div-color: var(--theme-icons-div-color);
  --button-stat-color: var(--theme-button-stats-color);
  --pagination-border-color: var(--theme-pagination-border-color);
  --accordian-bg-color: var(--theme-accordian-bg-color);
  --without-gradient-bg: var(--themeBgLight-color);
  --without-gradient-bg-2: var(--white-color);
  --0E-light-black-color: var(--theme-0E-light-black-color);
  --card-bg-color-3: var(--theme-bg-color-3);
  --card-bg-color-3-box-shadow: var(--theme-card-bg-color-3-box-shadow);
  --card-bg-3-border-color: var(--theme-card-bg-3-border-color);
  --card-bg-3-border-radius: 9px;
  --select-bg-color: var(--white-color);
  --custom-select-bg: var(--theme-custom-select);
  --0E-light-black-color: var(--theme-0E-light-black-color);
  --card-bg-color-3: var(--theme-bg-color-3);
  --card-bg-color-3-box-shadow: var(--theme-card-bg-color-3-box-shadow);
  --card-bg-3-border-color: var(--theme-card-bg-3-border-color);
  --card-bg-3-border-radius: 9px;
  --report-bg-color: var(--theme-report-bg-color);
  --dark-pink-color: var(--theme-dark-pink-color);
  --light-pink-color: var(--theme-light-pink-color);
  --black-color: var(--theme-black-color);
  --light-grey-color-2: var(--theme-light-grey);
  --report-title-color: var(--report-title-color);
  --error-color: var(--theme-error-color);
  --theme-More-User-bg: var(--light-theme-More-User-bg);
  --avatar-bg-color: rgb(201, 201, 201);
  --btn-theme-color: var(--btn-light-theme-color);
  --darkBluee-color: var(--theme-darkBluee-color);
  --account-modal-title-color: var(--theme-account-modal-title-color);
  --light-black-color: var(--theme-light-black-color);
  --header-bg-color: var(--theme-header-bg-color);
  --tooltip-bg-color: var(--theme-tooltip-bg-color);
  --lightest-dark-grey-color: var(--theme-dark-grey-color);
  --report-bg-color: var(--theme-report-bg-color);
  --common-btn-theme-bg: var(--theme-common-btn-theme-bg);
  --common-btn-text-color: var(--themeDark-grey-color);
  --common-btn-hover-bg: var(--theme-common-btn-hover-bg);
  --common-btn-bg: var(--theme-common-btn-bg);
  --common-dark-tooltip: var(--themeTitle-color);
  --timeline-bg-color: var(--theme-timeline-bg-color);
  --light-dark-grey-color: var(--themeDark-grey-color);
  --some-dark-btn-bg: var(--theme-some-dark-btn-bg);
  --selected-ss-img-bg: var(--theme-ss-selected-card-color);
  --checkbox--border: unset;
  --invitation-status-table-bg-color: var(--theme-invitation-status-table);
  --invitation-table-cell-first-child-bg-color: var(--theme-invitation-status-table);
}

:root[data-theme="dark"] {
  --white-img-theme-class: var(--theme-white-img-theme-class);
  --main-bg-color: var(--gradient-bg);
  --report-bg-color: var(--without-gradient-bg-2);
  --header-bg: var(--themeHeader-bg);
  --title-color: var(--white-color);
  --grey-color: var(--light-grey-color);
  --border-color: #3b4d60;
  --list-bg-color: var(--without-gradient-bg-2);
  --card-bg-color: var(--themeTitle-color);
  --avatar-bg-color: var(--themeTitle-color);
  --card-box-shadow: 0px 1px 6px rgb(255, 255, 255);
  --dark-grey-color: var(--themelight-grey-color);
  --white-dark-bg: var(--gradient-bg);
  --grey-p-color: var(--theme-grey-color);
  --label-color: var(--theme-grey-color);
  --grey-p-color: var(--grey-color);
  --label-color: var(--light-grey-color);
  --inverted-theme-bg: var(--white-color);
  --table-row-bg: var(--header-bg);
  --only-white-and-primary-color: var(--theme-dark-color);
  --line-color: var(--themeDark-grey-color);
  --table-box-shadow: var(--theme-table--dark-box-shadow);
  --card-box-shadow: var(--theme-card-shadow);
  --card-bg-color-2: var(--themeTitle-color);
  --light-grey-p-color: var(--theme-light-gray-p-color);
  --checkbox-border: var(--grey-p-color);
  --card-gradient-bg: var(--theme-without-gradient-bg);
  --gradient-card-p-color: var(--theme-dark-gradient-card);
  --gradient-card-hover: var(--gradient-bg);
  --graident-card-box-shadow: var(--theme-gradient-card-box-shadow);
  --theme-ss-unselect-card-color: var(--theme-card-gradient-bg);
  --theme-ss-selected-card-color: #fe5c361a;
  --icons-div-color: var(--themeTitle-color);
  --button-stat-color: var(--themeTitle-color);
  --pagination-border-color: var(--grey-color);
  --dynamic-img-filter: brightness(0) invert(1);
  --accordian-bg-color: var(--themeTitle-color);
  --without-gradient-bg: var(--theme-without-gradient-bg);
  --without-gradient-bg-2: var(--theme-without-gradient-bg);
  --select-bg-color: var(--themeHeader-bg);
  --custom-select-bg: var(--theme-dark-custom-select);
  --0E-light-black-color: var(--themeBgLight-color);
  --card-bg-color-3: var(--themeTitle-color);
  --card-bg-color-3-box-shadow: var(--theme-without-gradient-bg);
  --card-bg-3-border-color: var(--theme-without-gradient-bg);
  --card-bg-3-border-radius: var(--theme-card-bg-3-border-radius);
  --dark-pink-color: var(--white-color);
  --light-pink-color: var(--light-grey-color);
  --black-color: var(--white-color);
  --light-grey-color-2: var(--theme-light-grey);
  --report-title-color: var(--white-color);
  --error-color: var(--theme-error-color);
  --theme-More-User-bg: var(--themeHeader-bg);
  --btn-theme-color: var(--btn-dark-theme-color);
  --darkBluee-color: var(--white-color);
  --account-modal-title-color: var(--white-color);
  --0E-light-black-color: var(--white-color);
  --light-black-color: var(--white-color);
  --header-bg-color: var(--theme-dark-orange-color);
  --tooltip-bg-color: var(--header-bg);
  --lightest-dark-grey-color: #d3d3d3;
  --common-btn-theme-bg: var(--btn-dark-theme-color);
  --common-btn-text-color: var(--white-color);
  --common-btn-hover-bg: #002433;
  --common-btn-bg: var(--without-gradient-bg);
  --common-dark-tooltip: var(--without-gradient-bg);
  --timeline-bg-color: var(--without-gradient-bg);
  --light-dark-grey-color: var(--theme-light-grey);
  --some-dark-btn-bg: var(--without-gradient-bg);
  --selected-ss-img-bg: var(--without-gradient-bg);
  --checkbox--border: var(--theme-checkbox--border);
  --invitation-status-table-bg-color: var(--card-bg-color);
  --invitation-table-cell-first-child-bg-color: var(--card-bg-color);
}
