.hours-tracked-wrapper {
  padding: 0 !important;

  .user-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .user-details {
      display: flex;
      align-items: center;

      .user-name-email {
        margin-left: 10px;
      }
    }

    .time-stamp {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
    }

    .date {
      color: #3b4d60;
    }

    .email {
      color: #848588;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .user-hours-tracked-cards {
    margin-top: 50px;
  }

  .hour-tracked-table {
    padding: 1px;
  }
}