.export button {
  background-color: var(--btn-theme-color);
  border-radius: 6px;
  border: none;
  color: var(--grey-color);
  width: 114px;
  padding: 4px 20px;
  height: 36px;

  &:hover {
    color: #3b4d60 !important;
    background-color: #e5ecf3 !important;

    img {
      filter: brightness(0) invert(0) !important;
    }
  }
}