.reset-password-form{
  .validation-div{
    margin-bottom: 18px;
    width: 95%;
    margin-inline: auto;
  }
    .ant-input-affix-wrapper,
    .ant-input {
      padding: 14px 20px;
      background: #fafafa !important;
    }
    .ant-input-affix-wrapper > input.ant-input {
      padding: 0 12px;
    }
    .ant-input-affix-wrapper .ant-input-suffix,
    .ant-input-affix-wrapper .ant-input-prefix{
      font-size: 22px;
    }
}