@import "../../sass/variables.scss";

.timesheet-wrapper {
  .fc-col-header-cell-cushion {
    font-weight: $fw-600;
    font-size: $fs-14;
    line-height: 21px;
    color: var(--title-color);
  }


  .fc .fc-daygrid-day.fc-day-today {
    background: none !important;
  }

  .fc-scrollgrid.fc-scrollgrid-liquid {
    background: var(----white-dark-bg);
    box-shadow: 0px 0px 2px rgba(16, 24, 40, 0.25);
    border-radius: $border-radius-8;
  }

  .fc-theme-standard .fc-scrollgrid,
  .fc-scrollgrid-sync-inner {
    border: none !important;
    color: var(--title-color);
  }

  .fc-theme-standard th {
    border: none !important;
  }

  .fc-theme-standard td {
    border: none;
  }

  .fc .fc-timegrid-col.fc-day-today {
    background-color: var(----white-dark-bg);
  }

  .fc-v-event {
    background: none;
    border: none;
  }

  .project-grid {
    border-radius: 10px;
    border: none;
    padding: 8px 12px;

    .project-grid-item {
      span {
        background-color: #FFDAD0;
        border-radius: 4px;
        width: 4px;
        height: 100%;
      }
    }

    p {
      padding-left: 8px;
      color: $grey-color;
    }

    span {
      color: $grey-color;
    }
  }

  .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
    font-weight: $fw-400;
    font-size: $fs-14;
    line-height: 21px;
    color: var(--title-color);
  }

  .fc .fc-non-business {
    background: none !important;
  }

  .fc-event.fc-event-start.fc-event-end.fc-event-today.fc-event-future.fc-timegrid-event.fc-v-event {
    box-shadow: none;
  }

  .fc-timegrid-slots {
    table {
      tbody {
        background-color: var(----white-dark-bg);

        tr {
          height: 40px;

          &:nth-child(2n + 1) {
            background: rgba(231, 111, 81, 0.04);
          }
        }
      }
    }
  }

  .fc-timegrid-col-events {
    left: 30px;
  }

  .fc .fc-timegrid-col.fc-day-today {
    background-color: var(----white-dark-bg);
  }

  .fc-scrollgrid-sync-inner {
    left: 23px;
  }

  .slot-label-wrapper {
    padding-left: 12px;
  }


  // .fc-timegrid-slots table tbody tr:nth-child(4n+1) {
  //     background: rgba(231, 111, 81, 0.04);
  // }

  .fc-col-header-cell.fc-resource {
    .fc-scrollgrid-sync-inner {
      padding: 8px 0 8px 7px;
      text-align: left;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: var(--black-color);
        width: 1px;
        height: 21px;
        right: 0;
      }
    }
  }

  .fc-col-header-cell.fc-resource:nth-child(4) {
    .fc-scrollgrid-sync-inner::before {
      display: none;
    }
  }

  // .fc-timegrid-body {
  //   overflow: scroll;
  // }

  .fc-scroller.fc-scroller-liquid-absolute {
    overflow: scroll !important;
  }
}

// @media screen and (max-width: 768px) {
//   .timesheet-wrapper {
//     .fc .fc-scrollgrid table {
//       width: 2000px !important;
//       overflow-x: scroll !important;
//     }
//   }
// }