.other-child-tab {
    width: 100%;
    .wrapper-tracked-info-content {
        width: 100%;
        overflow: scroll;
        .ant-collapse-borderless {
            background-color: rgb(38 70 83 / 0%);
            // background-color: rgb(255, 255, 255);
            border: 0;
        }

        .h--100 {
            height: 130px !important;
        }

        .h--auto {
            height: auto;
        }

        .tracked-info-flex {
            position: absolute;
            padding: 10px;
            // margin-top: -5px;
            overflow: scroll;
            white-space: nowrap;
            display: -webkit-box;
            flex-wrap: nowrap;
            gap: 15px;
            width: 100%;
            margin-left: -10px;

            .tracked-info-inner-cards-low {
               
                border-radius: 10px;
                height: 49px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 13px;
                min-width: 252px;
            }
        }

        .ant-collapse-content-box {
            padding: 10px;
        }

        .wrapper-header {
            box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
            border-radius: 4px;
            padding: 10px;
        }

        .bg--light {
            border: 1px solid var(--card-bg-3-border-color);
            background: #f8f8f8;
        }

        .bg--none {
            background: transparent !important;
            border: none;
            box-shadow: none;
        }

        .ant-collapse-header {
            background: transparent !important;
            border: none;
            padding: 0px !important;
        }

        .ant-collapse-item {
            border-bottom: none;
            margin-bottom: 24px;
            background-color: #fff;
        }
        .ant-collapse-item-active{
            background-color: var(--white-dark-bg)!important;
        }
    }

    .custom-scroll-hor {
        &::-webkit-scrollbar {
            width: 0px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ffffff00;
            border-radius: 10px;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: #757575;
                border-radius: 10px;
            }
        }
    }

    .custom-scroll {
        &::-webkit-scrollbar {
            width: 0px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ffffff00;
            border-radius: 10px;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: #e5e5e5;
                border-radius: 10px;
            }
        }
    }

    .no-scroll-track {
        &::-webkit-scrollbar {
            width: 5px;
            height: 0px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ffffff00;
            border-radius: 10px;
        }
    }

    .rem-bg-trc {
        background-color: #f8f8f8;
    }

    .tracked-info-cnt-wrapper {
        border: 1px solid #e6e6e6;
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
        border-radius: 4px;
        margin-bottom: 15px;
    }

    .down-icon {
        color: #264653;

        &:hover {
            color: #ff4d4f;
        }
    }

    .ico--active {
        color: #ff4d4f !important;
    }

    // .detailed-time-cards {
    //     height: 140px;
    //     border-radius: 15px;
    //     background-color: #e4e4e4;
    //     position: relative;
    //     margin-bottom: 20px;
    //     width: 98%;
    //     margin: 0 auto;
    // }

    .ant-collapse-header {
        position: relative;
        flex-direction: row-reverse;
        width: 100%;
        background-color: transparent;
        padding: 20px;

        .ant-collapse-expand-icon {
            display: none !important;
        }
    }

    .dispNone {
        display: -webkit-box !important;
    }

    .dispBlock {
        display: none !important;
    }

    .wrapper-table {
        overflow: scroll;
        width: 100%;
        height: 30vh;
        margin-top: 1.5rem;

        .ant-table-thead {
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: #fff;
        }
    }
}