.wrap-projects-and-tasks-tabs {
  // box-shadow: 0px 0px 2px rgba(16, 24, 40, 0.25);
  border-radius: 8px;
  padding: 16px 16px 24px 16px;
  // height: 65vh;

  .wrap-selected-icons {
    .selected-icons {
      margin-right: 10px;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .search-and-icons-flex {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .search-create-project {
    display: flex;
    gap: 10px;
  }

  .modal-main {
    .delete-image-container {
      height: 66px !important;
      width: 66px !important;
      background: #f0f8ff !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      border-radius: 50% !important;
      margin: 0 auto !important;
    }
  }


  .bg-create-project {
    // background-color: #F4F9FF !important;
    border: none;
  }

  @mixin vertical-align() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  .project-task-search {
    button {
      width: 179px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f4f9ff;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      padding: 19px;
      margin-bottom: 10px;

      &:hover {
        border-color: #ff815e !important;
      }
    }

    input {
      border: 0;
      border-radius: 2px;
      margin: 0;
      padding: 1em;
      margin-right: 10px;
      background-color: var(--card-bg-color);
      color: var(--title--color);

      &::placeholder {
        color: var(--theme-light-grey);
      }
    }

    .where {
      width: 260px;
      height: 40px;
      transition: all 0.9s ease;
      // background: #ffffff;
      float: right;
      // border: 1px solid #e6e6e6;
      border-radius: 4px;
      outline: none;

      &::placeholder {
        color: var(--theme-light-grey) !important;
      }

      &:hover {
        width: 300px;
        // background: #fff;
        border-color: #ff815e !important;

        +.what {
          width: 15%;
        }
      }
    }
  }
}

.select-project {
  // height: 600px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // box-shadow: 0px 0px 2px rgba(16, 24, 40, 0.25);
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 8px;

  // height: 65vh;
  .flex--images-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// media query start here
@media only screen and (max-width: 1224px) {
  .wrap-projects-and-tasks-tabs .project-task-search button {
    // width: 100%;
    font-size: 13px;
  }
}

@media only screen and (max-width: 1120px) {
  .wrap-projects-and-tasks-tabs {
    .project-task-search {
      flex-direction: column;
      align-items: center;

      .where {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .select-project {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .project-task-search {
    flex-direction: column;
    align-items: center;

    .where {
      width: 100% !important;
    }
  }

}

@media (max-width: 995px) {
  .wrap-projects-and-tasks-tabs {
    height: fit-content !important;
  }

  .select-project {
    height: fit-content !important;
  }
}

@media (max-width: 600px) {
  .search-and-icons-flex {
    align-items: flex-start !important;
    flex-direction: column-reverse !important;
    gap: 5px;
  }

  .search-create-project {
    flex-direction: column;
    gap: 10px;

    .res-width-100 {
      width: 100% !important;
    }
  }

}

.opacity-4 {
  opacity: .4;
}