.forget-password-form {
  .forgot-password-note {

    font-style: normal;
    padding: 2rem 6rem 0 6rem;
    line-height: 18px;
    text-align: center;
  }

  .ant-input-affix-wrapper,
  .ant-input {
    padding: 14px 20px;
    background: #fafafa !important;
  }

  .ant-input-affix-wrapper>input.ant-input {
    padding: 0 12px;
  }
}