.edit-modal-wrapper {
    .divider {
        width: 75%;
        min-width: 60%;
        margin-top: 5px;
        margin-bottom: 12px;
        margin-left: 3px;
        border: 1px solid #E8ECEE;
    }

    .ant-form-item {
        margin-bottom: 0;
    }

    .ant-modal-close-x {
        font-size: 10px;
        color: #3b4d60;
    }

    .ant-form-item-explain-error {
        position: absolute;
    }




}