@import '../../sass/variables.scss';

.page-wrapper {
    .page-found-wrapper {
        height: 100vh;
        &.construction{
            height: 70vh;
        }
        .page-found-heading {
            h2 {
                font-size: 150px;
                &.under{
                    font-size: 55px;
                }
            }
        }

        p {
            padding-top: 15px;
        }

        a {
            padding: 11px 22px;
            outline: none;
            border: none;
            border-radius: 4px;
            margin-top: 25px;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .page-wrapper {
        padding: 0 12px;
        .page-found-wrapper {
            .page-found-heading {
                h2 {
                    font-size: 100px;
                    &.under{
                        font-size: 30px;
                    }
                }
            }
            p {
                font-size: 14px;
            }
            a {
                padding: 8px 18px;
                font-size: 16px;
            }
        }
    }
}