.user-activity-log-wrapper {
  .user-info {
    .date {
      color: #3b4d60;
    }
    .email {
      color: #848588;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .user-activity-log-table {
    margin-top: 20px;
  }
}
