.select-schedule-wrapper {
    .ant-space-align-center {
        justify-content: space-between;
        display: flex;
        align-items: center;
        border: 1px solid #E6E6E6;
        padding: 6px 8px;
    }
    .anticon.anticon-down {
        color: #E6E6E6 !important;
    }
    .ant-dropdown {
        top: 312px !important;
    }
}