.auth-layout {
  min-height: 100%;
  background-image: url("./../../assets/images/SignIn/SignInFormBackGround.png");
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: white;
  .heading {
    color: #2c3e50;
    margin-bottom: 15px;
    span {
      color: #fe5c36;
    }
  }
  .auth-box-image {
  max-width: 92px;
  width: -webkit-fill-available;
  margin-top: 35px;
 
}
@media only screen and (max-width: 767px) {
    background-image: none;
}

}

